absl-py
aiofiles
aiohttp
aiosignal
altair
annotated-types
anyio
async-timeout
asynctest
attrs
backports.zoneinfo
blinker
cachetools
certifi
charset-normalizer
click
comtypes
cycler
decorator
exceptiongroup
fastapi
ffmpy
filelock
flatbuffers
fonttools
frozenlist
fsspec
gitdb
GitPython
gradio
gradio_client
h11
httpcore
httpx
huggingface-hub
idna
importlib-metadata
importlib-resources
Jinja2
jsonschema
kiwisolver
linkify-it-py
markdown-it-py
MarkupSafe
matplotlib
mdit-py-plugins
mdurl
mediapipe
MouseInfo
multidict
numpy
opencv-contrib-python
opencv-python
orjson
packaging
pandas
Pillow
pkgutil_resolve_name
protobuf
psutil
pyarrow
PyAutoGUI
pycaw
pydantic
pydantic-core
pydeck
pydub
PyGetWindow
Pygments
Pympler
PyMsgBox
pyparsing
pyperclip
PyRect
pyrsistent
PyScreeze
python-dateutil
python-multipart
python3-xlib
pytweening
pytz
pytz-deprecation-shim
PyYAML
requests
rich
screen-brightness-control
semantic-version
six
smmap
sniffio
starlette
streamlit
tenacity
toml
toolz
tornado
tqdm
typing-extensions
tzdata
tzlocal
uc-micro-py
urllib3
uvicorn
validators
watchdog
websockets
yarl
zipp
